@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', serif;
}
body {
    background: #0F111A;
}
.flex-container {
    display: flex;
    flex-direction: row;
    padding: 40px 5%;
    min-height: 98vh;
}
@media screen and (max-width: 600px) {
    .flex-container {
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 600px) {
    #user-input {
        width: 50%;
    }
}
@media screen and (min-width: 600px) {
    #summary {
        width: 50%;
    }
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
figure img {
    border-radius: 25%;
    border: 5px solid rgba(0, 0, 0, 0.2);
}
figure figcaption {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}
p {
    font-size: 14px;
    line-height: 20px;
    max-width: 80%;
    margin: 20px auto;
}
a {
    color: currentColor;
}
#summary {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url('https://source.unsplash.com/collection/2411320') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #0F111A;
}
#user-input {
    background: #0F111A;
    color: #fff;
    align-content: center;
    align-items: center;
}